TagName=stage134
ThenStageName=stage136.stage
ElseStageName=stage135.if
GroupNum=1
GroupIndex=1
GroupLogic=0
ConditionNum=1
ConditionType=1
GoodyName=Goody1
GoodyMethod=0
Threshold=2
CompareMethod=0
Logic=0